DATABASE_URL = "your_database_url_here"
SECRET_KEY = "your_secret_key_here should at least be 32 characters long for security purposes"
USE_RUSTF_UPLOADS=False
RUSTF_URL="http://localhost:9000"
RUSTF_ACCESS_KEY="your_rustf_access_key_here"
RUSTF_SECRET_KEY="your_rustf_secret_key_here"
RUSTF_BUCKET_NAME="meeting-assistant-uploads"
RUSTF_REGION="us-east-1"
